*, *::before, *::after{
    box-sizing: border-box;
}

body{
  font-family: 'roboto', 'noto-sans';
}

img{
  vertical-align: top;
}

p, a{
  line-height: 1.5rem;
}

a{
  text-decoration: none;
}

img{
  vertical-align: center;
}