/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: 'roboto', 'noto-sans'; }

img {
  vertical-align: top; }

p, a {
  line-height: 1.5rem; }

a {
  text-decoration: none; }

img {
  vertical-align: center; }

.shopping-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .shopping-area .card-shopping {
    margin-bottom: 104px; }
    .shopping-area .card-shopping img {
      width: 255px;
      height: 164px; }
    .shopping-area .card-shopping a {
      display: block;
      position: relative;
      margin-bottom: 8px; }
    .shopping-area .card-shopping a:hover::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #AA0601;
      opacity: 0.1; }
    .shopping-area .card-shopping .product-info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-bottom: 8px; }
    .shopping-area .card-shopping p {
      color: #AA0601; }
    .shopping-area .card-shopping .color {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .shopping-area .card-shopping .color__darkBrown {
        width: 24px;
        height: 24px;
        border-radius: 6px;
        background: #5F3E2D;
        margin-right: 8px; }
      .shopping-area .card-shopping .color__brown {
        width: 24px;
        height: 24px;
        border-radius: 6px;
        background: #B75929; }

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .pagination .pages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .pagination .pages__numbers {
      display: block;
      width: 42px;
      height: 48px;
      border: 1px solid #000;
      line-height: 48px; }
  .pagination .page-up, .pagination .page-down {
    display: block;
    width: 81px;
    height: 48px;
    border: 1px solid #000;
    line-height: 48px; }
  .pagination .current {
    background: #000;
    color: #fff; }
  .pagination .pages__numbers:hover:not(.current),
  .pagination .page-up:hover,
  .pagination .page-down:hover {
    background: #F2F2F2; }

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 60px 0 80px 0;
  text-align: center; }

.font-14 {
  font-size: 14px; }

.font-16 {
  font-size: 16px; }

.font-20 {
  font-size: 20px; }

.font-24 {
  font-size: 24px; }

.font-30 {
  font-size: 30px; }

.font-32 {
  font-size: 32px; }

.font-36 {
  font-size: 36px; }

.font-42 {
  font-size: 42px; }

.font-48 {
  font-size: 48px; }

.font-64 {
  font-size: 64px; }

.font-72 {
  font-size: 72px; }

.font-bold {
  font-weight: bold; }

.font-italic {
  font-style: italic; }

.font-white {
  color: #fff; }

.font-black {
  color: #000; }

.link-white {
  color: #fff; }

.link-white:hover {
  color: #650300;
  font-weight: bold; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 88px;
  background: #AA0601; }
  .header h1 {
    background: url("../images/logo.png") no-repeat center center;
    width: 80px;
    height: 48.57px;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer; }
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 492px; }
  @media (max-width: 992px) {
    .header {
      padding-right: 40px;
      padding-left: 40px; } }
  @media (max-width: 767px) {
    .header {
      display: block;
      padding: 0;
      padding-top: 16px; }
      .header h1 {
        width: 100%;
        margin-bottom: 16px; }
      .header__menu {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        width: 100%; }
        .header__menu li {
          width: 50%;
          border: 1px solid #fff;
          text-align: center;
          padding: 8px 0; } }

.footer {
  background: #AA0601; }
  .footer .container {
    padding: 40px 0;
    text-align: left; }
  .footer__bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .footer__bar__nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 464px; }
    .footer__bar__sns {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 208px; }
  .footer__contact {
    border-bottom: 1px solid #fff;
    padding-bottom: 24px;
    margin-bottom: 32px; }
    .footer__contact li:first-child {
      margin-bottom: 16px; }
    .footer__contact img {
      width: 36px;
      height: 36px;
      margin-right: 16px; }
  .footer__policy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%; }
    .footer__policy__terms {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 174px; }
  @media (max-width: 992px) {
    .footer .container {
      width: 690px; }
    .footer__bar {
      margin-bottom: 20px; }
    .footer__bar__nav {
      width: 432px;
      margin-left: 9px; }
    .footer__bar__sns {
      width: 120px; }
      .footer__bar__sns img {
        width: 24px;
        height: 24px; }
    .footer__contact {
      padding-bottom: 20px;
      margin-bottom: 24px; }
      .footer__contact .font-36 {
        font-size: 20px; }
      .footer__contact img {
        width: 18px;
        height: 18px; }
    .footer__terms {
      width: 150px; } }
  @media (max-width: 767px) {
    .footer .container {
      width: 100%;
      padding: 24px 16px;
      position: relative; }
    .footer__bar {
      position: absolute;
      right: 16px; }
    .footer__bar__nav {
      display: none; }
    .footer__contact {
      padding-bottom: 24px;
      margin-bottom: 16px; }
      .footer__contact img {
        width: 16px;
        height: 16px;
        margin-right: 6px; }
      .footer__contact .font-36 {
        font-size: 16; }
    .footer__policy {
      display: block; }
      .footer__policy p {
        margin-bottom: 8px; }
      .footer__policy .font16 {
        font-size: 14px; }
      .footer__policy__terms {
        display: block; }
      .footer__policy li:first-child {
        margin-bottom: 8px; } }

.home-banner {
  width: 100%;
  height: 840px;
  background: url(../images/banner.png) no-repeat center center;
  padding-top: 1px; }
  .home-banner__slogan {
    max-width: 1110px;
    margin: 0 auto;
    text-align: right;
    margin-top: 348px;
    color: #650300; }
    .home-banner__slogan h3 {
      margin-bottom: 8px; }
  @media (max-width: 992px) {
    .home-banner__slogan {
      margin-right: 70px; }
    .home-banner h3 {
      font-size: 20px; }
    .home-banner h2 {
      font-size: 48px; } }
  @media (max-width: 767px) {
    .home-banner {
      height: 394px;
      background-size: cover; }
      .home-banner__slogan {
        margin-right: 45px;
        margin-top: 164px; }
      .home-banner h3 {
        font-size: 16px; }
      .home-banner h2 {
        font-size: 32px; } }

.service {
  background: #faf0f0; }
  .service h3 {
    color: #650300;
    margin-bottom: 48px; }
  .service .service__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 1110px; }
    .service .service__items li {
      width: 255px; }
    .service .service__items img {
      width: 84px;
      height: 84px;
      margin-bottom: 24px; }
    .service .service__items h5 {
      color: #650300;
      margin-bottom: 8px; }
    .service .service__items p {
      -moz-text-align-last: left;
           text-align-last: left; }
  @media (max-width: 992px) {
    .service .container {
      padding: 40px 0 11px 0; }
    .service h3 {
      font-size: 32px;
      margin-bottom: 40px; }
    .service .service__items {
      max-width: 585px;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      margin: 0 auto; }
      .service .service__items li {
        margin-bottom: 45px; }
      .service .service__items h5 {
        font-size: 24px; }
      .service .service__items p {
        font-size: 16px; } }
  @media (max-width: 767px) {
    .service .container {
      padding: 32px 0 40px 0; }
    .service h3 {
      font-size: 24px;
      margin-bottom: 28px; }
    .service .service__items {
      width: 255px;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      margin: 0 auto; } }

.classic-series h3 {
  color: #650300;
  margin-bottom: 40px; }

.classic-series .type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .classic-series .type li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    margin-bottom: 32px; }
    .classic-series .type li .picture-op {
      width: 635px;
      height: 320px; }
  .classic-series .type .reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
    .classic-series .type .reverse h3 {
      margin-right: 32px; }
  .classic-series .type h3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 32px; }
    .classic-series .type h3 a {
      color: #AA0601; }

@media (max-width: 992px) {
  .classic-series .container {
    padding: 40px 0 56px 0;
    width: 690px; }
  .classic-series h3 {
    font-size: 32px; }
  .classic-series .type li .picture-op {
    width: 390px;
    height: 168px; }
  .classic-series .type h3 a {
    font-size: 28px; }
  .classic-series .type h3 img {
    width: 26px;
    height: 26px; }
  .classic-series .type .reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
    .classic-series .type .reverse h3 {
      margin-right: 0; } }

@media (max-width: 767px) {
  .classic-series .container {
    padding: 32px 0 40px 0;
    width: 345px; }
  .classic-series h3 {
    font-size: 20px; }
  .classic-series .type li {
    position: relative;
    margin-bottom: 8px; }
    .classic-series .type li .picture-op {
      width: 345px;
      height: 134px; }
  .classic-series .type h3 {
    position: absolute;
    top: 54px;
    left: 70px; }
    .classic-series .type h3 a {
      font-size: 28px; }
    .classic-series .type h3 img {
      width: 26px;
      height: 26px; }
  .classic-series .type .reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
    .classic-series .type .reverse h3 {
      margin-right: 0; } }

.design-series {
  background: url(../images/bg.png) no-repeat center center; }
  .design-series h3 {
    color: #fff;
    margin-bottom: 40px; }
  .design-series .type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .design-series .type li {
      position: relative;
      background: #fff; }
      .design-series .type li img {
        max-width: 540px;
        max-height: 455px;
        opacity: 0.5;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }
      .design-series .type li img:hover {
        opacity: 0.8; }
      .design-series .type li h2 {
        position: absolute;
        color: #AA0601;
        top: 181px; }
    .design-series .type__doubleA__tittle {
      left: 104px; }
    .design-series .type__youth__tittle {
      left: 152px; }
  @media (max-width: 992px) {
    .design-series .container {
      width: 690px;
      padding: 40px 0 40px 0; }
    .design-series h3 {
      font-size: 32px;
      margin-bottom: 32px; }
    .design-series .type li {
      width: 330px;
      margin-bottom: 16px; }
      .design-series .type li img {
        width: 330px;
        height: 278px; }
      .design-series .type li h2 {
        font-size: 32px;
        top: 118px; }
    .design-series .type__doubleA__tittle {
      left: 91px; }
    .design-series .type__youth__tittle {
      left: 113px; } }
  @media (max-width: 767px) {
    .design-series .container {
      width: 345px;
      padding: 32px 0 40px 0; }
    .design-series h3 {
      font-size: 20px;
      margin-bottom: 20px; }
    .design-series .type {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .design-series .type li {
        width: 345px; }
        .design-series .type li img {
          width: 345px;
          height: 291px; }
        .design-series .type li h2 {
          font-size: 32px;
          top: 124px; }
      .design-series .type__doubleA__tittle {
        left: 95px; }
      .design-series .type__youth__tittle {
        left: 120px; } }

.recommend h3 {
  color: #650300;
  margin-bottom: 40px; }

.recommend__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%; }
  .recommend__list .card {
    -webkit-box-shadow: 1px 1px 6px #999;
            box-shadow: 1px 1px 6px #999;
    margin-left: 30px;
    -moz-text-align-last: left;
         text-align-last: left; }
    .recommend__list .card:first-child {
      margin-left: 0; }
    .recommend__list .card img {
      width: 255px;
      height: 256px; }
    .recommend__list .card .text {
      padding: 16px;
      height: 204px;
      position: relative; }
    .recommend__list .card h6 {
      margin-bottom: 8px; }
    .recommend__list .card .date {
      color: #707070;
      position: absolute;
      left: 16px;
      bottom: 16px; }

@media (max-width: 992px) {
  .recommend .container {
    width: 690px;
    padding: 40px 0 24px 0; }
  .recommend h3 {
    font-size: 32px;
    margin-bottom: 32px; }
  .recommend__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .recommend__list .card {
      width: 330px;
      margin-bottom: 32px; }
      .recommend__list .card-3 {
        margin-left: 0; }
      .recommend__list .card img {
        width: 330px;
        height: 256px; } }

@media (max-width: 767px) {
  .recommend .container {
    width: 345px;
    padding: 32px 0 24px 0; }
  .recommend h3 {
    font-size: 20px;
    margin-bottom: 20px; }
  .recommend__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .recommend__list .card {
      width: 345px;
      margin-left: 0;
      margin-bottom: 16px; }
      .recommend__list .card img {
        width: 345px;
        height: 256px; } }

.contact {
  background: #faf0f0; }
  .contact .container {
    max-width: 730px; }
  .contact h3 {
    margin-bottom: 24px; }
  .contact p {
    text-align: left;
    margin-bottom: 20px; }
  .contact__form {
    text-align: left; }
    .contact__form input {
      width: 100%;
      line-height: 36px;
      margin-top: 4px;
      margin-bottom: 16px;
      background: #faf0f0;
      border: 1px solid #999; }
      .contact__form input::-webkit-input-placeholder {
        color: #999;
        margin-left: 16px; }
      .contact__form input::-moz-placeholder {
        color: #999;
        margin-left: 16px; }
      .contact__form input:-ms-input-placeholder {
        color: #999;
        margin-left: 16px; }
      .contact__form input::-ms-input-placeholder {
        color: #999;
        margin-left: 16px; }
      .contact__form input::placeholder {
        color: #999;
        margin-left: 16px; }
    .contact__form .feedback {
      height: 136px; }
    .contact__form .policy-check {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-top: 24px;
      margin-bottom: 40px; }
      .contact__form .policy-check input {
        width: 30px;
        margin: 0; }
    .contact__form .submit {
      background: #AA0601;
      color: #fff;
      max-width: 350px;
      display: block;
      margin: 0 auto;
      cursor: pointer; }
    .contact__form .submit:active {
      background: #650300; }
  @media (max-width: 992px) {
    .contact .container {
      width: 450px;
      padding: 40px 0 56px 0; }
    .contact h3 {
      font-size: 32px; }
    .contact p {
      font-size: 16px;
      margin-bottom: 16px; }
    .contact__form {
      font-size: 14px; }
      .contact__form .policy-check {
        margin-top: 8px;
        margin-bottom: 30px; } }
  @media (max-width: 992px) {
    .contact .container {
      width: 345px;
      padding: 30px 0 40px 0; }
    .contact h3 {
      font-size: 20px; }
    .contact p {
      margin-bottom: 8px; }
    .contact__form .policy-check {
      margin-bottom: 20px; } }

.product-op .container {
  padding: 0; }

.product-op__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%; }
  .product-op__nav li {
    width: 370px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 1px solid #DCDCDC;
    padding: 24px 0; }
    .product-op__nav li img {
      width: 44px;
      height: 44px;
      margin-right: 8px; }
    .product-op__nav li a {
      color: #000; }
  .product-op__nav .current {
    position: relative; }
  .product-op__nav .current::before {
    content: "";
    width: 100%;
    height: 8px;
    background: #AA0601;
    position: absolute;
    bottom: 0;
    left: 0; }

.product-op__banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .product-op__banner .banner-size {
    width: 50%;
    height: 304px; }
  .product-op__banner .banner-1 {
    background: url(../images/banner-1.png) no-repeat;
    background-size: cover; }
  .product-op__banner .banner-2 {
    background: url(../images/banner-2.png) no-repeat;
    background-size: cover; }

@media (max-width: 992px) {
  .product-op .container {
    max-width: 690px; }
  .product-op__nav li {
    max-width: 230px;
    padding: 14px 0; }
    .product-op__nav li img {
      width: 29px;
      height: 29px; }
    .product-op__nav li a {
      font-size: 24px; } }

@media (max-width: 767px) {
  .product-op .container {
    max-width: 345px; }
  .product-op__nav li {
    max-width: 345px;
    padding: 5px 0; }
    .product-op__nav li img {
      width: 10px;
      height: 10px; }
    .product-op__nav li a {
      font-size: 14px; }
  .product-op__banner .banner-size {
    height: 148px; }
  .product-op__banner .banner-1, .product-op__banner .banner-2 {
    background-size: cover; } }

.optical-shop .container {
  padding: 80px 0 160px 0; }

.optical-shop h2 {
  margin-bottom: 8px; }

.optical-shop h3 {
  margin-bottom: 40px; }

@media (max-width: 992px) {
  .optical-shop .container {
    width: 690px;
    padding: 56px 0 96px 0; }
  .optical-shop h2 {
    font-size: 32px; }
  .optical-shop h3 {
    font-size: 24px; }
  .optical-shop .shopping-area .card-shopping {
    margin-bottom: 72px; }
    .optical-shop .shopping-area .card-shopping img {
      width: 330px;
      height: 164px; } }

@media (max-width: 767px) {
  .optical-shop .container {
    width: 345px;
    padding: 32px 0 56px 0; }
  .optical-shop h2 {
    font-size: 20px; }
  .optical-shop h3 {
    font-size: 16px; }
  .optical-shop .shopping-area .card-shopping {
    margin-bottom: 32px; }
    .optical-shop .shopping-area .card-shopping img {
      width: 345px;
      height: 166px; } }

.product-sun .container {
  padding: 0; }

.product-sun__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%; }
  .product-sun__nav li {
    width: 370px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 1px solid #DCDCDC;
    padding: 24px 0; }
    .product-sun__nav li img {
      width: 44px;
      height: 44px;
      margin-right: 8px; }
    .product-sun__nav li a {
      color: #000; }
  .product-sun__nav .current {
    position: relative; }
  .product-sun__nav .current::before {
    content: "";
    width: 100%;
    height: 8px;
    background: #AA0601;
    position: absolute;
    bottom: 0;
    left: 0; }

.product-sun__banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .product-sun__banner .banner-size {
    width: 50%;
    height: 304px; }
  .product-sun__banner .banner-1 {
    background: url(../images/banner-3.png) no-repeat;
    background-size: cover; }
  .product-sun__banner .banner-2 {
    background: url(../images/product-2-color.png) no-repeat;
    background-size: cover; }

@media (max-width: 992px) {
  .product-sun .container {
    max-width: 690px; }
  .product-sun__nav li {
    max-width: 230px;
    padding: 14px 0; }
    .product-sun__nav li img {
      width: 29px;
      height: 29px; }
    .product-sun__nav li a {
      font-size: 24px; } }

@media (max-width: 767px) {
  .product-sun .container {
    max-width: 345px; }
  .product-sun__nav li {
    max-width: 345px;
    padding: 5px 0; }
    .product-sun__nav li img {
      width: 10px;
      height: 10px; }
    .product-sun__nav li a {
      font-size: 14px; }
  .product-sun__banner .banner-size {
    height: 148px; }
  .product-sun__banner .banner-1, .product-sun__banner .banner-2 {
    background-size: cover; } }

.sunglasses-shop .container {
  padding: 80px 0 160px 0; }

.sunglasses-shop h2 {
  margin-bottom: 8px; }

.sunglasses-shop h3 {
  margin-bottom: 40px; }

.sunglasses-shop .shopping-area .card-shopping img {
  width: 350px;
  height: 224px; }

@media (max-width: 992px) {
  .sunglasses-shop .container {
    width: 690px;
    padding: 56px 0 96px 0; }
  .sunglasses-shop h2 {
    font-size: 32px; }
  .sunglasses-shop h3 {
    font-size: 24px; }
  .sunglasses-shop .shopping-area .card-shopping {
    margin-bottom: 72px; }
    .sunglasses-shop .shopping-area .card-shopping img {
      width: 330px;
      height: 164px; } }

@media (max-width: 767px) {
  .sunglasses-shop .container {
    width: 345px;
    padding: 32px 0 56px 0; }
  .sunglasses-shop h2 {
    font-size: 20px; }
  .sunglasses-shop h3 {
    font-size: 16px; }
  .sunglasses-shop .shopping-area .card-shopping {
    margin-bottom: 32px; }
    .sunglasses-shop .shopping-area .card-shopping img {
      width: 345px;
      height: 166px; } }

/*# sourceMappingURL=all.css.map */
